* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
section{
    height: 100vh;
}

body {
    background: black;
    color: #333;
}

/* Navigation */
header {
    background: #111;
    padding: 15px 0;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;

    
}
header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #0fe;
  transition: 0.3s;
}

header nav a:hover::after {
  width: 100%;
  
}

.hamburger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    background: #333;
}

.hero .content h1 {
    font-size: 45px;
    color:#f4f4f4;
}

.hero .content p{
    color:#f4f4f4;
}



.hero .content span {
    color: cyan;
}

.hero .btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.hero .btn:hover {
    background: #0056cc;
}

.hero .btn{
  background-color: cyan;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  transition: 0.4s ease-in-out;
  border-color: cyan;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic:hover {
  
  transform: translateY(-10px);
  
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}

/* icons*/
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  transition: 0.3s;
  cursor: pointer;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* Sections */
section {
    padding: 60px 10%;
}


.skills .skill-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.skill {
    background: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}



/* Contact */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

/* Responsive */
@media(max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #222;
        padding: 20px;
        position: absolute;
        right: 10px;
        top: 60px;
        width: 150px;
        border-radius: 8px;
    }

    nav ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .profile-img {
        margin-top: 20px;
        width: 200px;
    }

    .hero .btn {
        margin: 20px auto 0;
    }
   
}
 /* Toggle Button */
.mode-btn {
    background: none;
    border: 2px solid #fff;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.mode-btn:hover {
    background: #fff;
    color: #111;
}

/* Transition effect */
body, .project-card, .skill, header, nav ul {
    transition: background 0.3s, color 0.3s;
}

#skills {
    text-align: center;
    padding: 40px 0;
}
#skills h2{
    color:#f4f4f4;
}

.skills-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
     
}
.skills-container .skill:hover{
  transform: translateY(-10px);
  border-color: cyan;
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}

.skill {
    width: 120px;
}

.skill img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.skill p {
    margin-top: 10px;
    font-weight: bold;
}
#projects {
  padding: 60px 0;
}
#projects h2{
    color:#f4f4f4;
}

.section-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 40px;
  color: var(--text-color);
}

.project-grid {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.project-card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  transition: 0.4s ease;
  border: 1px solid transparent;
}

.project-card:hover {
  transform: translateY(-10px);
  border-color: cyan;
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}

.project-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: cyan;
}

.project-card p {
  font-size: 15px;
  margin-bottom: 15px;
  color: whitesmoke;
  line-height: 1.5;
}

.proj-btn {
  display: inline-block;
  background: cyan;
  padding: 8px 15px;
  border-radius: 5px;
  color: #111;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.proj-btn:hover {
  background: #fff;
  color: #111;
}
project-card:hover {
  box-shadow: 0 0 15px cyan, 0 0 30px rgba(0,255,255,0.5);
}


#contact {
  padding: 60px 0;
  background: #111;
  color: #fff;
  text-align: center;

  
}


#contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

#contact p {
  font-size: 17px;
  margin-bottom: 30px;
  opacity: 0.8;
}

.contact-form {
  width: 60%;
  margin: auto;
  
}

.input-group {
  position: relative;
  margin: 20px 0;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-bottom: 2px solid #555;
  background: transparent;
  color: #fff;
  font-size: 16px;
  resize: none;
}

.input-group label {
  position: absolute;
  left: 0;
  top: 10px;
  pointer-events: none;
  color: #aaa;
  transition: 0.3s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label,
.input-group textarea:focus ~ label,
.input-group textarea:valid ~ label {
  top: -12px;
  font-size: 13px;
  color: cyan;
}

.send-btn {
  padding: 12px 25px;
  background: cyan;
  color: #111;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.send-btn:hover {
  background: #fff;
  color: #111;
}

.contact-form {
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.15);
  padding: 25px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
}
.contact-form:hover{
      transform: translateY(-10px);
  border-color: cyan;
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}
#about {
  padding: 70px 0;
  background: #111;
}

.about-container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.15);
  padding: 25px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
}
.about-container:hover{
      transform: translateY(-10px);
  border-color: cyan;
  box-shadow: 0 12px 35px rgba(0,0,0,0.35);
}
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 38px;
  margin-bottom: 10px;
  color: white;
}

.about-text h3 {
  font-size: 22px;
  margin-bottom: 20px;
  color: #555;
}

.about-text p {
  font-size: 17px;
  line-height: 1.6;
  color: white;
  margin-bottom: 15px;
}

.about-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: cyan;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.about-btn:hover {
  background: crimson;
}





